@model IEnumerable<FestFindV2.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order nummer
            </th>
            <th>
                Participant naam
            </th>
            <th>
                Event Naam
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller ="Events" asp-action="MyEvents">Terug</a>
</div>